body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
}

.container {
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease;
}

.container:hover {
    transform: translateY(-5px);
}

.container h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border-color: #6e8efb;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #6e8efb;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a777e3;
}

.link {
    display: block;
    margin-top: 20px;
    color: #6e8efb;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.link:hover {
    color: #a777e3;
}

.notification-popup {
    position: fixed;
    top: 20%;
    left: 48%;
    transform: translate(-20%, -48%);
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1001;
}
.notification-popup.error {
    background-color: #f44336; /* Red background for errors */
}